.app {
  display: flex;
  flex-direction: column;
}

.allFilteredUsers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allInfo {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.allInfo p{
    margin: 5px;
}


.displayFilteredInfo {
  padding: 15px;
  display: flex;
}

h1 {
  margin: 10vw;
  align-self: center;
}

.userRenderedContainer .userRendered {
  padding: 2px;
}

.userProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userProfileFullname {
  display: flex;
  margin: 5px;
  align-self: flex-start;
}

.userData {
    display: flex;
    flex-direction: column;
  margin: 12px;
  margin-right: 10px;
  border-style: groove;
  border-color: antiquewhite;
  border-radius: 12px;
  padding: 10px;
}

img {
  border-radius: 50%;
}

.input {
  display: flex;
  align-items: center;
}

.inputButton {
  height: 6vh;
  border-radius: 20px;
}

.inputText {
  border-radius: 20px;
  padding-left: 10px;
  height: 5vh;
  width: 90vw;
  background-color: blanchedalmond;
}
